body {
    background-color: rgba(125, 62, 124, 0.437);
}

h1 {
    text-align: center;
    font-family: Freestyle Script;
    font-size: 110px;
}

.image {
    float: right;
    padding-right: 200px;
    margin: 80px;
}

.h3_heading {
    font-family: Freestyle Script;
    font-size: 90px;
    color: rgb(123, 108, 192);
    text-align: center;
}

.paragraph {
    font-family: Segoe Print;
    font-size: 30px;
    margin: 80px;
}

.image2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 30px;
}

.image3 {
    width: 200px;
    height: 60px;
    padding-left: 800px;
}