body {
    background-color: rgba(125, 62, 124, 0.437);
}

h1 {
    text-align: center;
    font-family: Freestyle Script;
    font-size: 110px;
}

.image {
    float: right;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.h3_heading {
    font-family: Freestyle Script;
    font-size: 90px;
    color: rgb(123, 108, 192);
    text-align: center;
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}